<table border="1">
    <thead>
        <tr>
            <th>tournamentMatchesID</th>
            <th>tournamentID</th>
            <th>matchID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each tournamentMatches}}
        <tr>
            <td>{{tournamentMatchesID}}</td>
            <td>{{tournamentID}}</td>
            <td>{{matchID}}</td>
            <td>
                <div class="delete-button">
                <form action="/tournamentMatches/delete/{{tournamentMatchesID}}" method="POST" class="delete-button" onsubmit="return confirmDelete('{{tournamentMatchesID}}')">
                    <button type="submit">Delete</button>
                </form>
                </div>
            </td> 
        </tr>
        {{/each}}
    </tbody>
</table>

<form action="/tournamentMatches/add" method="POST" class="add-form">
    <h3>Add New Team</h3>
    <div class="form-row">
        <input type="number" name="tournamentID" placeholder="tournamentID" required>
        <input type="number" name="matchID" placeholder="matchID" required>
        <button type="submit">Add tournamentMatches</button>
    </div>
</form>

<script>
function confirmDelete(tournamentMatchesID) {
    return confirm(`Are you sure you want to delete "${tournamentMatchesID}"?`);
}
</script>
