<table border="1">
    <thead>
        <tr>
            <th>tournamentID</th>
            <th>tournamentName</th>
            <th>gameID</th>
            <th>prizeMoney</th>
            <th>location</th>
            <th>startDate</th>
            <th>endDate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each tournaments}}
        <tr>
            <td>{{tournamentID}}</td>
            <td>{{tournamentName}}</td>
            <td>{{gameID}}</td>
            <td>{{prizeMoney}}</td>
            <td>{{location}}</td>
            <td>{{formatDate startDate}}</td>
            <td>{{formatDate endDate}}</td>
            <td>
                <button type="button">Delete</button>
                <button type="button">Add</button>
            </td>  
        </tr>
        {{/each}}
    </tbody>

